extends ../layout

block body
  
  div.row(data-ng-controller="CalendarCtrl" ng-init="accordion.init(#{weeksByMonth})")
    accordion(close-others="oneAtATime")
      each month, index in weeksByMonth
        accordion-group(heading=constants.months[index] is-open="false")
          .table-condensed
            table.table
              thead
                tr
                  each d in constants.days
                    th
                      p.text-center= d
              tbody
                each week, idx in month
                  tr(data-week=idx)
                    each date, indx in week
                      td(data-date=(date.name) ? date.moment.date() : "" )
                        #date
                          if date.name
                            h5.text-center= date.moment.date() 
                            h4.text-center= date.name
                            p.text-center.text-uppercase= date.type.name




                  
  



