doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
    // STYLES END

    block styles

  body(ng-app="romlit")
    .container
        block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/lodash/lodash.compat.js")
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-cookies/angular-cookies.js")
    script(src="/vendor/angular-resource/angular-resource.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/vendor/angular-sanitize/angular-sanitize.js")
    script(src="/vendor/angular-ui-router/angular-ui-router.js")
    script(src="/vendor/angular-bootstrap/js/ui-bootstrap.min.js")
    script(src="/vendor/angular-bootstrap/js/ui-bootstrap-tpls.min.js")
    script(src="/vendor/highcharts-release/highcharts.js")
    script(src="/vendor/highcharts-release/highcharts-more.js")
    script(src="/vendor/highcharts-release/exporting.js")
    script(src="/js/app/router.js")
    script(src="/js/app/app.js")
    script(src="/js/app/factories/lodash.js")
    script(src="/js/app/services/calendar.js")
    script(src="/js/app/controllers/calendar.js")
    // SCRIPTS END