
<div data-ng-repeat="month in dates" class="table-responsive">
	<h1>{{ month.month.name }}</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th data-ng-repeat="day in constants.days">
					<p class="text-center">{{day}}</p>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="week in month.weeks" data-week="{{$index}}">
				<td data-ng-repeat="date in week" data-ng-attr-data-date="{{ date.date ? date.date : ''}}">
					<p class="text-center" ng-if="date.date">{{date.date}}</p>
					<p class="text-center" ng-if="date.name">{{date.name}}</p>
					<p class="text-center text-uppercase" ng-if="date.type.name">{{date.type.name}}</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
